* {
  font-family: Arial, Helvetica, sans-serif;
}

.progres-bar-parent {
  width: 100%;
  height: 32px;
  margin-bottom: 24px;
  background: #ebebeb;
  border-radius: 100px;
}

.progres-bar {
  height: 100%;
  width: 50%;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #333333;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  transition: all 0.5s ease;
  font-weight: bold;
}

.width-100 {
  width: 100%;
}

.bg-green {
  background: repeating-linear-gradient(
    -45deg,
    rgba(10, 10, 10, 0.02),
    rgba(10, 10, 10, 0.02) 4px,
    #acdb69 0,
    #acdb69 10px
  );
}

.bg-red {
  background: repeating-linear-gradient(
    -45deg,
    rgba(10, 10, 10, 0.02),
    rgba(10, 10, 10, 0.02) 4px,
    #fe8e81 0,
    #fe8e81 10px
  );
}

.bg-white {
  background: repeating-linear-gradient(
    -45deg,
    rgba(10, 10, 10, 0.02),
    rgba(10, 10, 10, 0.02) 4px,
    #ffffff 0,
    #ffffff 10px
  );
}

.bg-blue {
  background: repeating-linear-gradient(
    -45deg,
    rgba(10, 10, 10, 0.02),
    rgba(10, 10, 10, 0.02) 4px,
    #9acff0 0,
    #9acff0 10px
  );
}

.bg-yellow {
  background: repeating-linear-gradient(
    -45deg,
    rgba(150, 150, 150, 0.2),
    rgba(150, 150, 150, 0.2) 4px,
    #fad363 0,
    #fad363 10px
  );
}
